@use '../../foundation/base' as base;

.c-grid-container-frontMain {
    display: grid;
    place-content: center;
    /*grid-row-gap: 1%;*/
    grid-template-columns: repeat(1,95%); 
    
    @include base.breakpoint(tablet) {
        /*grid-column-gap: 5% ;*/
        grid-template-columns: repeat(2,47%); 
    }

    @include base.breakpoint(pc) {
        grid-column-gap: 5% ;
        grid-template-columns: repeat(2,47%);  
    }
    
}

.c-grid-item-frontMain {
    display: grid;
    grid-template-rows: subgrid;

    @include base.breakpoint(pc) {
        margin: 0;
    }
}

.c-grid-container {
    display: grid;
    margin-bottom: 2%;

    @include base.breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include base.breakpoint(pc) {
        grid-template-columns: repeat(2, 1fr);
    }

}

.c-grid-area-left {
    grid-row: 1/2;
    grid-column: 1/2;

    @include base.breakpoint(tablet) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    @include base.breakpoint(pc) {
        grid-row: 1/2;
        grid-column: 1/2;
    }

}

.c-grid-area-right {
    grid-row: 2/3;
    grid-column: 1/2;

    @include base.breakpoint(tablet) {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    @include base.breakpoint(pc) {
        grid-row: 1/2;
        grid-column: 2/3;
    }

} 