@use '../../foundation/base' as base;


/*PC画面では×印非表示*/
.js-btn-menu {
    position: relative;
}

.js-btn-menu::before {
    position: absolute;
    content: "";
    top: 20px;
    right: 35px;
    width: 5px;
    height: 35px;
    background-color: base.$bg-color-gray;
    transform: rotate(-45deg);
    z-index: 300;
    visibility: hidden;
    opacity: 0;
    
}

.js-btn-menu::after {
    position: absolute;
    content: "";
    top: 20px;
    right: 35px;
    width: 5px;
    height: 35px;
    background-color: base.$bg-color-gray;
    transform: rotate(45deg);
    z-index: 300;
    visibility: hidden;
    opacity: 0;
    
}

/*MENUボタンから×印*/
.js-btn-menu-open {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 300;

    & span {
        display: none;
    }
}

.js-btn-menu-open::before {
    position: absolute;
    content: "";
    top: 2px;
    right: 18px;
    width: 5px;
    height: 35px;
    background-color: base.$bg-color-gray;
    transform: rotate(-45deg);
    z-index: 300;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.48s;
}

.js-btn-menu-open::after {
    position: absolute;
    content: "";
    top: 2px;
    right: 18px;
    width: 5px;
    height: 35px;
    background-color: base.$bg-color-gray;
    transform: rotate(45deg);
    z-index: 300;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.48s;
}
