@use '../../foundation/base' as base;

.p-footer {
    background-image: url(../../../Images/frontpage_footer.png);
    background-size: cover;
    color: base.$font-color-white;
    padding: 2%;
    font-weight: 400;

    a {
        color: base.$font-color-white;
    }
}